parameters:
	ignoreErrors:
		-
			message: '#^Variable \$path might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: routes/auth.php

		-
			message: '#^Variable \$path might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: routes/debug.php

		-
			message: '#^Variable \$path might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: routes/gallery.php

		-
			message: '#^Variable \$path might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: routes/install.php

		-
			message: '#^Variable \$path might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: routes/layout-studio.php

		-
			message: '#^Variable \$path might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: routes/newsletter.php
